/* for cellular / small screen devices */
@media screen and ( max-width: 800px ) {
	.logo-drop-button {
		background-color: yellow;
		padding: 25px;
		margin: 25px;
		border-radius: 5px;
		width: 85vw;
	}
	.logo {
		display: none;
	}
	.dropdown {
		border-radius: 5px;
		position: relative;
		display: inline-block;
		width: 95vw;
		background-color: orange;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: blue;
		color: white;
		padding: 25px;
		margin: 25px;
		width: 75vw;
	}
	.dropdown-content a {
		color: white;
	}
	.dropdown-content_element {
		padding: 25px;
		margin: 25px;
		background-color: orange;
	}
	.show {
		display: block;
	}
}

/* for desktop / large tablet devices */	
@media screen and ( min-width: 801px ) {
	body {
		padding: 0;
		margin: 0;
	}
	.logo-drop-button {
		display: none;
	}
	.logo {
		justify-content: center;
		padding: 5px;
		margin: 5px;
	}
	.dropdown {
		/* empty ? */
	}
	.dropdown-content {
		display: flex;
		flex-direction: row;
		background-color: blue;
		color: red;
	}
	.dropdown-content_element {
		padding: 5px;
		margin: 5px;
		color: orange;
		background-color: yellow;
		justify-content: center;
	}
}

.paragraph-wrapper {
	display: flex;
	flex-direction: column;
	padding: 15px;
	color: black;
	background-color: white;
	align-items: center;
}

.paragraph-wrapper > .paragraph {
	color: white;
	padding: 15px;
	margin: 15px;
	background-color: black;
	border-radius: 5px;
	width: 75vw;
}
