/* for cellular / small screen devices */
@media screen and ( max-width: 800px ) {
	.logo-drop-button {
		background-color: GhostWhite;
		padding: 25px;
		margin: 25px;
		border-radius: 5px;
		width: 85vw;
		color: black;
	}
	.logo {
		display: none;
	}
	.dropdown {
		border-radius: 5px;
		position: relative;
		display: inline-block;
		width: 95vw;
		background-color: DarkSlateGrey;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: Grey;
		color: GhostWhite;
		padding: 25px;
		margin: 25px;
		width: 75vw;
		border-radius: 5px;
	}
	.dropdown-content a {
		text-decoration: none;
		color: GhostWhite;
	}
	.dropdown-content_element {
		display: flex;
		padding: 25px;
		margin: 25px;
		background-color: DarkSlateGrey;
		border-radius: 5px;
		justify-content: center;
	}
	.dropdown-content_element a {
		justify-content: center;
	}
	.dropdown-content_last-element {
		display: flex;
		padding: 25px;
		margin: 25px;
		background-color: GhostWhite;
		color: black;
		justify-content: center;
		border-radius: 5px;
	}
	.dropdown-content_last-element a {
		color: black;
		text-decoration: none;
	}
	.show {
		display: flex;
		flex-direction: column;
	}
}

/* for desktop / large tablet devices */	
@media screen and ( min-width: 801px ) {
	body {
		padding: 0;
		margin: 0;
	}
	.logo-drop-button {
		display: none;
	}
	.logo {
		justify-content: center;
		padding: 5px;
		margin: 5px;
		background-color: GhostWhite;
		border-radius: 5px;
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 15px;
		padding-right: 15px;
		color: black;
		margin-right: auto;
	}
	.logo a {
		color: black;
		text-decoration: none;
	}
	.dropdown {
		/* empty ? */
	}
	.dropdown-content {
		display: flex;
		flex-direction: row;
		background-color: grey;
	}
	.dropdown-content_element {
		padding: 5px;
		margin: 5px;
		color: GhostWhite;
		background-color: DarkSlateGrey;
		justify-content: center;
		border-radius: 5px;
	}
	.dropdown-content_last-element {
		margin-left: auto;
		padding: 5px;
		background-color: GhostWhite;
		border-radius: 5px;
		margin-right: 15px;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.dropdown-content_last-element a {
		color: black;
		text-decoration: none;
	}
	.dropdown-content_element a {
		color: GhostWhite;
		text-decoration: none;
	}
}

.paragraph-wrapper {
	display: flex;
	flex-direction: column;
	padding: 15px;
	color: black;
	background-color: GhostWhite;
	align-items: center;
}

.paragraph-wrapper > .paragraph {
	color: GhostWhite;
	padding: 15px;
	margin: 15px;
	background-color: black;
	border-radius: 5px;
	width: 75vw;
}
